/* Responsive Design */

@media all and (max-width: 575.99px) {
	h1 {
		margin-top: 32px 0 24px;
		font-size: 32px;
	}

	.article-body {
		font-size: 18px;
	}

  .width-restricted {
    padding: 0 24px;
  }
  .date-min {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

@media all and (min-width: 576px) and (max-width: 767.98px) {
  h1 {
		margin-top: 32px 0 24px;
		font-size: 32px;
	}

  .width-restricted {
    padding: 0 24px;
  }
}
