* {
	box-sizing: border-box;
}

:root {
	--white: #ffffff;
	--black: #000000;
	--grey-lighter: #555;
	--black-darker: #242424;
	--white-darker: #f2f2f2;
	--green: #9acd32;
}

body {
	margin: 0;
	color: var(--black);
	font-family: 'Times New Roman', Times, serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: left;
	color: var(--black);
	font-size: 42px;
	margin-top: 80px;
	margin-bottom: 40px;
}

h2 {
	margin-top: 34px;
}

a {
  color: inherit;
}

ol {
  padding-left: 20px;
}

.width-restricted {
  width: 100%;
	max-width: 680px;
	margin: 0 auto;
}
.article-info__container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-info {
	display: flex;
	text-align: left;
}

.top-div {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	gap: 8px;
}

.author-pic {
	height: 44px;
	width: 44px;
  min-width: 44px;
	object-fit: cover;
	object-position: 0 50%;
	border-radius: 50%;
}

.link--standard {
	color: rgb(36, 36, 36);
	cursor: pointer;
	text-decoration: none;
}
.fbtn {
	display: inline-block;
	color: var(--green);
	margin-left: 10px;
	text-decoration: none;
}

.date-min span {
	color: var(--grey-lighter);
}

.icons {
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	border-bottom: solid 1px var(--white-darker);
	border-top: solid 1px var(--white-darker);
}

/* Better to replace this selector with a class */
.icons > div > a > i {
	padding: 8px;
	font-size: 16px;
	display: inline-block;
	color: #555;
}

.image-container--lg {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	cursor: zoom-in;
	margin-top: 50px;
}

.image--lg {
	width: 100%;
	height: auto;
}

figcaption {
	font-style: italic;
	color: var(--grey-lighter);
	margin-top: 8px;
	text-align: center;
}

.article-body {
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.06px;
	text-align: left;
	margin-top: 30px;
	overflow-wrap: break-word;
}

.code--multiline {
	background-color: var(--white-darker);
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	padding: 20px;
  overflow-x:scroll;
}

code {
	font-family: 'Courier New', Courier, monospace;
	padding: 2px 4px;
	background-color: var(--white-darker);
	color: #555;
	font-weight: 100;
	font-size: 15px;
}

strong {
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
}

.tags-container {
	margin-top: 40px auto 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
	padding: 8px 16px;
	background-color: var(--white-darker);
	color: var(--black-darker);
	text-decoration: none;
	border-radius: 50px;
	margin: 3px;
	font-size: 14px;
}
