* {
    box-sizing: border-box;
   }
   body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   }
   
   
   a {
    text-decoration: none;
    color: inherit;
   }
   
   
   header {
    color: #333;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
   }
   
   
   
   
   
   .logo {
  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 4px;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(90deg, #ff8c00, #ffcd00);
    -webkit-background-clip: text;
    color: transparent;
    border: 1px solid #f5884e;
    border-radius: 8px;
   }
   
   
  
   .logo:hover {
    transform: scale(1.3);
   }
   
   
   
   ul {
    
    list-style-type: none;
    
    padding-left: 0;
   }
   
   
  
  
   .nav-item {
    display: inline-block;
   }
  
  
  
   .navClass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
   }
  
  
  
   .nav-link {
    min-width: 48px;
    display: inline-block;
    text-align: center;
    margin: 5px;
   }
   
   
   
   .nav-link:hover {
    text-decoration: underline;
   }
   
   
   .header {
    border-bottom: 1px solid rgb(156, 153, 153);
   }
   
   
   h4 {
    font-size: 20px;
   }
   
   
   .text-type li {
    margin-bottom: 2px;
    line-height: 0.1rem;
    padding-bottom: 2px;
   }
   
   
   .price {
    font-size: 40px;
    margin-top: 20px;
   }
   
   
   
   
   .btn-outlined {
    
    width: 100%;
    display: block;
    background-color: white;
    border: 1px solid#007bff;
    padding: 6px 12px;
    color: #007bff;
    border-radius: 4px;
   }
   
   
  
   .btn-outlined:hover {
    background-color: #007bff;
    color: #fff;
    transition: color 0.5s, backgroung-color 0.5s;
   }
   
   
   
   .btn-contained {
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 3px;
    padding: 6px 12px;
    color: white;
    display: block;
    width: 100%;
    
   }
   
   
   .btn-contained:hover {
    opacity: 0.9;
   }
   
   
   main {
    text-align: center;
    
   }
   
   
   .text-content {
    max-width: 668px;
    margin: 0 auto;
    text-align: center !important;
    font-size: 20px;
    line-height: 2;
    color: #333;
   }
   
   
   .card-container {
    display: flex;
    justify-content: center; 
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 0 auto;
   }
  
  
   .card {
    width: 270px;
    border: 1px solid #e0dcdc;
    padding: 0px auto;
    margin: 8px;
    border-radius: 5px;
   }
   
   
  
   .header {
    width: 100%;
    background-color: #f7f7f7;
   }
   
   
  
   .card > ul {
    display: flex;
    flex-direction: column;
    font-size: 15px;
   }
   
   
  
   .card > li {
    margin-top: 5px; 
   }
   
   
   .divider {
    height: 1px;
    width: 59%;
    margin: 40px auto;
    background-color: #333;
   }
   
   
  
   
   
   .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
   }
   
   
   .last-card {
    margin: 10px;
    padding: 12px;
    font-size: 14px;
   }
   
   
   
   .last-card > ul > li {
    text-align: left;
    color: #333;
   }
   
   
   .last-card > ul > li > a:hover {
    text-decoration: underline;
   }
   
  
   li {
    margin: 10px;
   }
  
  
   h5 {
    font-size: 20px;
    margin: 0;
   }
   
   
   
   .mo-text {
    color: #999;
   }
   
   
   i {
    font-size: 20px;
    margin-top: 5px;
    color: white;
    background-color: rgb(166, 34, 155);
    padding: 5px;
    border-radius: 4px;
    margin-left: 0;
   }
   
  
  