< lesson32--selcan
.dis{
=======
h2 {
  
 main
  color:#313E51;
  font-size: 144px;
  font-family: Rubik;
  font-weight: 500;
  line-height: 144px;
 lesson32--selcan
  word-wrap: break-word;
}
=======
  word-wrap: break-word
}

.bold {
  font-weight: 500;
}
 main
