 lesson32--selcan
.headM {
color:#313E51;
font-size: 36px;
font-family: Rubik;
font-weight: 500;
line-height: 43.20px;
word-wrap: break-word;
}
=======
h2 {
   
  color: #313E51;
  font-size: 36px;
  font-family: Rubik;
  font-weight: 500;
  line-height: 43.20px;
  word-wrap: break-word
}

.bold {
  font-weight: 500;
}
main
